@import "./partial/reset";
@import "./partial/animation";
@import "./partial/botton";
@import "./partial/color";
@import "./partial/font";
@import "./partial/mixin";
@import "./partial/spacing";

*, *::after, *::before{
    box-sizing: border-box;
}

body{
    max-width: 100%;
}


main{
    max-width: 80%;
    margin-inline: auto;
    margin-top: calc(50px + 1rem);
    section{
        text-align: center;
      
    }
    .hero{
        display: flex;
        align-items: flex-start;
        background-color: $color-bg-hero;
        padding: 2rem;

            .image-container{
                @include floating(20px, 0px 10px 20px rgb(0 0 0 / 0.6), 2px solid white);
                flex-shrink: 0;
                img {
                    display: block;
                    width: 500px;
                    object-fit: cover;
                }
            } 
    }
}

nav{
    position: fixed;
    top: 0;
    width: 100%;
    ul{
        display: flex;
        align-items: center;

        li:first-of-type {
            margin-inline-end: auto;
        }

        li{
            list-style: none;
            margin-left: 0;
            a {
                text-decoration: none;
            }
        }
    }

    
    #icon{
        width: 40px;
        height: 40px;
    }
}